#overlay {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    top:0;
    height: 0;
    background: #000000;
    opacity: 0.8;
    margin-bottom: 20px;
    pointer-events: none;
    overflow-y:hidden;
}